Repository allianz/ng-aquila: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json --fix, tslint -c projects/ngx-docs-ui/tslint.json --fix, tslint -c projects/opensource-documentation/tslint.json --fix, npm run lint:scss

.lintstagedrc:

{
  "projects/ng-aquila/!(documentation)/**/*.ts": "tslint -c projects/ng-aquila/tslint.json --fix",
  "projects/ngx-docs-cli/**/*.ts": "tslint -c tslint.json --fix",
  "projects/ngx-docs-ui/**/*.ts": "tslint -c projects/ngx-docs-ui/tslint.json --fix",
  "projects/opensource-documentation/**/*.ts": "tslint -c projects/opensource-documentation/tslint.json --fix",
  "*.scss": "npm run lint:scss"
}

feat(multi-select): add new component (#413)
  projects/ng-aquila/documentation/examples/dropdown/dropdown-disabled-items/dropdown-disabled-items-example.html
  projects/ng-aquila/documentation/examples/dropdown/dropdown-disabled-items/dropdown-disabled-items-example.ts
  projects/ng-aquila/documentation/examples/dropdown/dropdown-examples.module.ts
  projects/ng-aquila/documentation/examples/dropdown/dropdown-filter/dropdown-filter-example.html
  projects/ng-aquila/documentation/examples/dropdown/dropdown-filter/dropdown-filter-example.ts
  projects/ng-aquila/documentation/examples/dropdown/dropdown-multi-select/dropdown-multi-select-example.html
  projects/ng-aquila/documentation/examples/dropdown/dropdown-multi-select/dropdown-multi-select-example.ts
  projects/ng-aquila/documentation/examples/dropdown/dropdown-outline/dropdown-outline-example.html
  projects/ng-aquila/documentation/examples/dropdown/dropdown-outline/dropdown-outline-example.ts
  projects/ng-aquila/documentation/examples/dropdown/multi-select/multi-select-example.css
  projects/ng-aquila/documentation/examples/dropdown/multi-select/multi-select-example.html
  projects/ng-aquila/documentation/examples/dropdown/multi-select/multi-select-example.ts
  projects/ng-aquila/src/dropdown/dropdown-position.ts
  projects/ng-aquila/src/dropdown/dropdown.md
  projects/ng-aquila/src/dropdown/dropdown.module.ts
  projects/ng-aquila/src/dropdown/dropdown.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select-option.component.html
  projects/ng-aquila/src/dropdown/multi-select/multi-select-option.component.scss
  projects/ng-aquila/src/dropdown/multi-select/multi-select-option.component.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select-option.spec.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.html
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.scss
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select.spec.ts
  projects/ng-aquila/src/dropdown/public-api.ts
  projects/ng-aquila/src/formfield/formfield.scss
Due: npm run lint:scss

chore: update version in docs and package (#435)
  projects/ng-aquila/src/package.json
Due: none

v13.0.0-next.0 (#439)
  CHANGELOG.md
  projects/ng-aquila/documentation/assets/stack-blitz/package.json
  projects/ng-aquila/src/package.json
  projects/ngx-docs-ui/src/lib/stack-blitz/stack-blitz-writer.ts
Due: tslint -c projects/ngx-docs-ui/tslint.json --fix

chore: align browserslist (#424)
  .browserslistrc
  projects/ng-aquila/documentation/assets/stack-blitz/.browserslistrc
  projects/opensource-documentation/.browserslistrc
Due: none

chore: rename jenkinsfile stages (#431)
  .editorconfig
  ci/Jenkinsfile
Due: none

chore: adapt event construction (#420)
  projects/ng-aquila/src/cdk-test-utils.ts
Due: none

fix: adapt compatibility sidebar toggle margin fix (#442)
  projects/ng-aquila/src/shared-styles/compatibility.scss
Due: npm run lint:scss

chore: configure angular dev schematics (#441)
  angular.json
  projects/ng-aquila/src/schematics/README.md
Due: none

fix(tree): freezing when collapsing focused item (#428)
  projects/ng-aquila/src/tree/tree.component.ts
Due: none

feat: variable footer paddings (#444)
  projects/ng-aquila/src/footer/footer.component.ts
  projects/ng-aquila/src/footer/footer.scss
  projects/ng-aquila/src/shared-styles/theming/themes/expert.scss
  projects/ng-aquila/src/shared-styles/theming/tokens.scss
Due: npm run lint:scss

chore: adapt report folders (#430)
  .gitignore
  .prettierignore
  ci/Jenkinsfile
  karma.conf.js
  projects/ng-aquila/karma.conf.js
  projects/ngx-docs-ui/karma.conf.js
Due: none

fix(dropdown): flip chevron when open (#445)
  projects/ng-aquila/src/dropdown/dropdown.scss
Due: npm run lint:scss

fix(table): prevent clicks on interactive elements to select row (#443)
  projects/ng-aquila/src/dropdown/dropdown.ts
  projects/ng-aquila/src/dropdown/multi-select/multi-select.component.ts
  projects/ng-aquila/src/table/table-row.component.spec.ts
  projects/ng-aquila/src/table/table-row.component.ts
Due: none

chore: update auxiliary dev dependencies (#446)
  package-lock.json
  package.json
  projects/ng-aquila/documentation/assets/stack-blitz-tests/package.json
  projects/ng-aquila/documentation/assets/stack-blitz/package.json
  projects/ngx-docs-ui/src/lib/stack-blitz/stack-blitz-writer.ts
Due: tslint -c projects/ngx-docs-ui/tslint.json --fix

fix(file-uploader): fix a11y by adding missing label references (#434)
  projects/ng-aquila/src/base/label/label.component.html
  projects/ng-aquila/src/base/label/label.component.ts
  projects/ng-aquila/src/checkbox/checkbox-group.component.spec.ts
  projects/ng-aquila/src/file-uploader/file-uploader.component.html
  projects/ng-aquila/src/file-uploader/file-uploader.component.spec.ts
  projects/ng-aquila/src/file-uploader/file-uploader.component.ts
Due: none

chore: misc changes (#448)
  .gitignore
  .prettierignore
  angular.json
  projects/ng-aquila/documentation/assets/stack-blitz-tests/.gitignore
  projects/ng-aquila/documentation/assets/stack-blitz/.gitignore
  projects/ngx-docs-cli/src/dgeni/docs-dgeni-package/templates/class.template.html
  projects/ngx-docs-cli/src/dgeni/docs-dgeni-package/templates/method.template.html
Due: none

fix(accordion): remove outside spacing from mobile light accordion (#449)
  projects/ng-aquila/src/accordion/expansion-panel.scss
Due: npm run lint:scss

chore: fix husky config (#453)
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

fix(comparison-table): update cell clipping if mayStick property of header row changes (#451)
  .husky/commit-msg
  .husky/pre-commit
  projects/ng-aquila/src/comparison-table/comparison-table-row.directive.spec.ts
  projects/ng-aquila/src/comparison-table/comparison-table-row.directive.ts
  projects/ng-aquila/src/comparison-table/comparison-table.component.spec.ts
  projects/ng-aquila/src/comparison-table/comparison-table.component.ts
Due: none

chore: update angular 13.1.0 (#432)
  package-lock.json
  package.json
  projects/ng-aquila/documentation/assets/stack-blitz-tests/package.json
  projects/ng-aquila/documentation/assets/stack-blitz/package.json
  projects/ng-aquila/src/datefield/datefield.module.ts
  projects/ng-aquila/src/message/message-toast/message-toast.service.spec.ts
  projects/ng-aquila/src/message/message.module.ts
  projects/ng-aquila/src/modal/dialog/modal.spec.ts
  projects/ng-aquila/src/modal/modal.module.ts
  projects/ng-aquila/src/overlay/overlay.module.ts
  projects/ng-aquila/src/overlay/overlay.spec.ts
  projects/ng-aquila/src/tooltip/tooltip.module.ts
  projects/ngx-docs-ui/src/lib/documentation/documentation.module.ts
  projects/ngx-docs-ui/src/lib/documentation/table-of-contents/table-of-contents.module.ts
  projects/ngx-docs-ui/src/lib/example-full-screen/example-full-screen.module.ts
  projects/ngx-docs-ui/src/lib/example-loader/example-loader.module.ts
  projects/ngx-docs-ui/src/lib/example-viewer/example-viewer.module.ts
Due: tslint -c projects/ngx-docs-ui/tslint.json --fix

chore: update dev dependencies (#452)
  package-lock.json
  package.json
Due: none

release: cut 13.0.0 (#457)
  CHANGELOG.md
  projects/ng-aquila/documentation/assets/stack-blitz/package.json
  projects/ng-aquila/documentation/guides/releases.md
  projects/ng-aquila/src/package.json
  projects/ngx-docs-ui/src/lib/stack-blitz/stack-blitz-writer.ts
Due: tslint -c projects/ngx-docs-ui/tslint.json --fix

chore: update build config (#455)
  angular.json
  package.json
Due: none

chore: setup eslint (#440)
  .eslintignore
  .eslintrc.json
  .lintstagedrc
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
  angular.json
  ci/Jenkinsfile
  package-lock.json
  package.json
  projects/ng-aquila/.eslintrc.json
  projects/ng-aquila/src/mask/mask.directive.ts
  projects/ngx-docs-cli/.eslintrc.json
  projects/ngx-docs-ui/.eslintrc.json
  projects/opensource-documentation/.eslintrc.json
Due: none

chore: update release info (#460)
  projects/ng-aquila/documentation/guides/releases.md
Due: none

fix(phone-input): reset country code to correct initial value (#463)
  projects/ng-aquila/src/phone-input/phone-input.component.spec.ts
  projects/ng-aquila/src/phone-input/phone-input.component.ts
Due: none

docs: update v13 support to 2023 (#470)
  projects/ng-aquila/documentation/guides/releases.md
Due: none

chore: alter eslint config (#472)
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  .prettierignore
  package.json
  projects/ng-aquila/.eslintrc.json
  projects/ng-aquila/src/schematics/.eslintrc.json
Due: none

feat(iso-date-adapter): automatically fall back to valid dayjs locales (#468)
  projects/ng-aquila/src/iso-date-adapter/adapter/dayjs-locale-utils.spec.ts
  projects/ng-aquila/src/iso-date-adapter/adapter/dayjs-locale-utils.ts
  projects/ng-aquila/src/iso-date-adapter/adapter/iso-date-adapter.spec.ts
  projects/ng-aquila/src/iso-date-adapter/adapter/iso-date-adapter.ts
Due: none

feat(theming): add support for web components (#473)
  projects/ng-aquila/src/shared-styles/theming/mixins.scss
Due: npm run lint:scss
